/* Import fonts */

@font-face {
    font-family: 'helvetica-neue-black';
    src: url(../fonts/helvetica-neue-black.otf);
}

@font-face {
    font-family: 'helvetica-neue-bold';
    src: url(../fonts/helvetica-neue-bold.otf);
}

html,
body {
    font-family: helvetica-neue-bold, sans-serif;
}

h1 {
    font-family: helvetica-neue-black, sans-serif;
    text-align: center;
    font-size: 3em;
}