/* Import fonts */

@font-face {
    font-family: 'helvetica-neue-black';
    src: url(../fonts/helvetica-neue-black.otf);
}

@font-face {
    font-family: 'helvetica-neue-bold';
    src: url(../fonts/helvetica-neue-bold.otf);
}

html,
body {
    font-family: helvetica-neue-bold, sans-serif;
}

h1 {
    font-family: helvetica-neue-black, sans-serif;
    text-align: center;
    font-size: 3em;
}

hr {
    width: 550px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
}

.tile {
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #d3d6da;
    margin: 2.5px;
    font-size: 2em;
    text-align: center;
}